<h2>
  Please login
</h2>
<form action="/login" method="POST">
  <input name="email" placeholder="Email" type="email" />
  <input name="password" placeholder="password" type="password"/>
  <button type="submit"> Submit </button>
</form>